body {
    --invalid-color: rgba(217,83,79,0.9);
}

.support {
    display: inline-block;
    margin-top: .25rem;
    padding: .25rem;
    border-radius: .25rem;
}

.support.hidden {
    display: none;
}

.support-box {
    background: var(--invalid-color);
    color: #fff;
}

/* LG */
@media(min-width: 1024px){
    /**/
}